
body {
    text-align: center;
    margin: 0;
    color: #5322E0;
}

.container {
    margin: 0;
}

.circleContainer {
    display: inline-flex;
    border: #22A7E0 solid 10px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    margin: 1rem 0 1rem 0;

}

.circleContainer * {
    padding: 10px 10px 5px 10px;
}


/* Header */
.header {
    
}

/* Navbar */
.nav {
    background-color: #226BE0;
    display: flex;
    /* Need to create media query to change styling as screen gets smaller */
}

.nav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav a:hover {
    background-color: #22A7E0;
}

.nav a:active {
    box-shadow: inset 0px 0px 15px #c1c1c1
}

/* Hero */

.picOfMe {
    border-radius: 50%;
    margin: 1rem 0 0 0;
    height: 12rem;
}

.welcome {
    margin: 2rem 0 2rem 0;
}

.intro {
    width: 30%;
    margin: auto;
    line-height: 2;
    font-size: large;
    color: black;
}